<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>com.wlt.tomcat.User.User</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PhotoTest</servlet-name>
        <servlet-class>com.wlt.tomcat.User.PhotoTest</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/server/User</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PhotoTest</servlet-name>
        <url-pattern>/server/PhotoTest</url-pattern>
    </servlet-mapping>

</web-app>